{% extends "layout.njk" %}
{% block content %}

<div class="wrapper-not-found">
  <div>
    <img src="https://i.ibb.co/z5SJXWP/jordan-removebg-preview.png" alt="">
  </div>
  <div class="text">
    <h1>Página não encontrada.</h1>
    <a href="/">
      Clique aqui para retornar a página válida.
    </a>
  </div>
</div>

{% endblock %}
