@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  background: #5b5656;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.header {
  background: #4d4646;
  width: 100%;
}

nav{
  padding: 30px;
}

nav.links a {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  color: #FFF;
  text-decoration: none;
  margin-right: 30px;
}

nav.links a:hover {
  color: #7fcd91;
  transition: color ease-in-out 300ms;
}

#wrapper {
  padding: 32px;
}

#wrapper img {
  width: 50%;
  border-radius: 4px;
  box-shadow: 0px 0px 10px 15px #4d4646;
}

#wrapper h1{
  margin:20px;
  font-size: 40px;
  font-weight: 900;
  color:#7fcd91;
}

#wrapper h2{
  color:#d3d3d3;
  margin-bottom: 10px;
}

#wrapper p{
  max-width: 500px;
  margin: 0 auto;
  color:#ddd2d2
}

#wrapper a svg{
  margin: 20px 20px;
  height: 30px;
}

svg:hover g{
  fill: #7fcd91;
  transition: fill 400ms ease-in-out;
}

footer
{
  color: #d3d3d3;
  background: #4d4646;
  padding: 30px;
}

footer a{
  text-decoration: none;
  color: #867d7d;
}

footer a:hover{
  color:#d3d3d3;
  transition: color 300ms;
}

.cards{
  max-width: 800px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap:20px;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

.card{
  width: 400px;
  background-color:#7fcd91;
  border-radius: 6px;
  cursor: pointer;
}

.img-ctn{
  max-width: 100%;
}

.img-ctn img{
  width: 100%;
  border-radius: 6px 6px 0 0 ;
}

.title{
  color: #000;
  font-size: 20px;
  font-weight: 700;
  padding: 5px;
}

.info{
  padding: 5px;

  margin-bottom: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.time,
.vocal{
  color: #f5eaea;
  padding: 5px;
  border-radius: 15px;
  background-color: #49644f;
  margin: auto;
}

.modal-overlay{
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top:0;
  opacity: 0;
  visibility: hidden;
}

.modal{
  background-color: #fff;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
}

.modal .close-modal {
  width: 20px;
  height: 20px;
  color:#FFF;
  position: fixed;
  top:8px;
  right: 20px;
  cursor: pointer;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

iframe {
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.wrapper-not-found{
  width: 80%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 50px;
}

.wrapper-not-found img{
  width: 100%;
}

.wrapper-not-found .text {
  margin: 50px auto;
}

.text a {
  text-decoration: none;
  color: #d3d3d3;
}
